doctype html
html(lang="en")
  head
    include @/includes/CriticalHeadPart.pug
    link(href=require('@/scss/pages/AdminContentPage.scss') rel='stylesheet')
    script(src=require('index.ts') defer)
  body
    include @/components/AppSpinner.pug
    div(class="wrapper")
      include @/components/AppHeader.pug
      main(class="admin-content-page")
        include @/components/AdminMenu.pug
        div(class="admin-content-page__content")
          h1(data-tr-text="app_menu_content" class="admin-content-page__title")
          div(class="admin-content-page__button-add-wrapper")
            button(id="admin-content-page-add-row" class="app-button" type="button")
              i(class="fa-solid fa-plus")
              span(data-tr-text="app_action_add")
          ul(id="admin-content-page-list" class="admin-content-page__list")
          template(id="admin-content-page-row-template")
            include @/components/ContentEditForm.pug
      include @/components/AppFooter.pug