.admin-menu {
  height: 100%;
  width: 250px;
  border-right: 1px solid var(--black);
  &__heading {
    word-break: break-all;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--admin-menu-heading-bg);
    border-bottom: 1px solid var(--black);
  }
  &__item {
    display: block;
    padding: 16px;
    &_button {
      background-color: transparent;
      border: 0;
      width: 100%;
      text-align: left;
      &:hover {
        cursor: pointer;
        background-color: var(--admin-menu-hover-bg);
      }
    }
    &:hover {
      cursor: pointer;
      background-color: var(--admin-menu-hover-bg);
    }
    &_active {
      font-weight: 700;
      background-color: var(--admin-menu-hover-bg);
      &:hover {
        cursor: not-allowed;
        background-color: var(--admin-menu-hover-bg);
      }
    }
  }
  &__item-icon {
    margin-right: 16px;
  }
}