.app-input {
  &__label {
    display: block;
    margin-bottom: 8px;
    color: var(--black);
    margin-left: 14px;
  }
  &__input {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 8px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    &:focus,
    &:active {
      outline: none;
      border: 1px solid var(--primary);
    }
  }
  &__error {
    display: block;
    padding-top: 4px;
    padding-left: 14px;
    font-size: 14px;
    min-height: 23px;
    color: var(--error-color); 
  }
}