:root {
  --primary: #23356C;
  --primary-dark: #1A264C;
  --primary-light: #3A4A8C;
  --app-spinner-wrapper-color: #F2F5F7;
  --app-header-title-color: #FFFFFF;
  --app-footer-text-color: #FFFFFF;
  --black: #2C333F;
  --gray: #F2F5F7;
  --white: #FEFFFE;
  --dark-white: #d0d1d2;
  --admin-menu-heading-bg: #EAEAEA;
  --admin-menu-hover-bg: #D3D3D3;
  --data-table-body-bg-color: #EAEAEA;
  --data-table-col-border-color: #D3D3D3;
  --success-color: #04E762;
  --error-color: #EF626C;
  --warning-color: #CB904D;
  --danger: #EF626C;
  --danger-dark: #D94E58;
  --danger-light: #F0A3A8;
}