:root {
  --app-spinner-bg-color: #23356C;
  --app-spinner-wrapper-color: #F2F5F7;
  --app-header-bg-color: #23356C;
  --app-header-title-color: #FFFFFF;
  --app-footer-text-color: #FFFFFF;
  --app-footer-bg-color: #23356C;
  --black: #2C333F;
  --gray: #F2F5F7;
  --white: #FEFFFE;
  --input-focus-color: #23356C;
}