@import "../components/AppSpinner.scss";
@import "../components/AppHeader.scss";
@import "../components/AppFooter.scss";
@import "../components/Toast.scss";
@import "../components/AdminMenu.scss";
@import "../components/DataTable.scss";
@import "../components/AppButton.scss";

.admin-feedbacks-page {
  flex-shrink: 0;
  flex-grow: 2;
  display: flex;
  align-items: flex-start;
  &__content {
    flex-grow: 2;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
  }
  &__title {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}