@import "../components/AppSpinner.scss";
@import "../components/AppHeader.scss";
@import "../components/AppFooter.scss";
@import "../components/AppInput.scss";
@import "../components/Toast.scss";
@import "../components/AdminMenu.scss";

.admin-content-page {
  flex-shrink: 0;
  flex-grow: 2;
  display: flex;
  align-items: flex-start;
}