doctype html
html(lang="en")
  head
    include @/includes/CriticalHeadPart.pug
    link(href=require('@/scss/pages/AdminApplicationsPage.scss') rel='stylesheet')
    script(src=require('index.ts') defer='defer')
  body
