doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title AdminPage
    include @/includes/CriticalHeadPart.pug
    link(href=require('@/scss/pages/AdminPage.scss') rel='stylesheet')
    script(src=require('index.ts') defer='defer')
  body
    include @/components/AppSpinner.pug
    div(class="wrapper")
      include @/components/AppHeader.pug
      main(class="admin-page")
        include @/components/SignInForm.pug
      include @/components/AppFooter.pug

    
