footer(class="app-footer")
  div(class="app-footer__content")
    span
      span(data-tr-full-year="full-year")
      span(class="app-footer__company-name") &nbsp; - Concrete Grinding 
    span
      span(data-tr-text="app_website_development")
      span : 
      a(href="https://google.com" target="_blank" class="app-footer__link") Neciron