header(class="app-header")
  div(class="app-header__inner")
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5208 23.4166C16.125 22.9166 15.375 22.7916 14.8542 23.1875C14.7083 23.3125 14.5833 23.4583 14.5 23.625L4.29167 44.0625C3.97917 44.6666 4.22917 45.3958 4.83334 45.7083C5.00001 45.8333 5.20834 45.8333 5.39584 45.8333H19.6042C20.0625 45.8333 20.5 45.5833 20.7083 45.1666C23.7708 38.8125 21.875 29.1666 16.5208 23.4166ZM24.0208 4.81247C18.8542 12.7916 18.25 22.9166 22.4375 31.4375L29.2917 45.1666C29.5208 45.5833 29.9375 45.8333 30.3958 45.8333H44.6042C44.9302 45.8333 45.2428 45.7038 45.4733 45.4733C45.7038 45.2428 45.8333 44.9301 45.8333 44.6041C45.8333 44.4166 45.8333 44.2291 45.7083 44.0625C45.7083 44.0625 26.5833 5.77081 26.0417 4.81247C25.8125 4.24997 25.125 3.99997 24.5417 4.29164C24.3125 4.39581 24.125 4.58331 24.0208 4.81247Z" fill="#F5FBEF"/>
    </svg>
