header(class="app-header")
  div(class="app-header__inner")
    <svg class="app-header__logo" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.5646 16.3916C11.2875 16.0416 10.7625 15.9541 10.3979 16.2312C10.2958 16.3187 10.2083 16.4208 10.15 16.5374L3.00415 30.8437C2.7854 31.2666 2.9604 31.777 3.38331 31.9958C3.49998 32.0833 3.64581 32.0833 3.77706 32.0833H13.7229C14.0437 32.0833 14.35 31.9083 14.4958 31.6166C16.6396 27.1687 15.3125 20.4166 11.5646 16.3916ZM16.8146 3.36868C13.1979 8.9541 12.775 16.0416 15.7062 22.0062L20.5041 31.6166C20.6646 31.9083 20.9562 32.0833 21.2771 32.0833H31.2229C31.4511 32.0833 31.6699 31.9926 31.8313 31.8313C31.9927 31.6699 32.0833 31.451 32.0833 31.2228C32.0833 31.0916 32.0833 30.9603 31.9958 30.8437C31.9958 30.8437 18.6083 4.03951 18.2291 3.36868C18.0687 2.97493 17.5875 2.79993 17.1791 3.0041C17.0187 3.07701 16.8875 3.20826 16.8146 3.36868Z" fill="#F5FBEF"/>
    </svg>
    h4(class="app-header__title") Concrete Grinding
